*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release/output.json
/.idea/
/app/release/WAndroid_release_V0.0.51_20200419024453689.apk
/app/release/
/app/
*.keystore
/.idea