<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ldc.wandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".mApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activitys.ShowMessageActivity" />
        <activity android:name=".activitys.AuthorActivity" />
        <activity android:name=".activitys.SearchActivity" />
        <activity android:name=".activitys.MySharedActivity" />
        <activity android:name=".activitys.PersonalRankActivity" />
        <activity
            android:name=".activitys.ShowArticleWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".activitys.PersonalCoinActivity" />
        <activity android:name=".activitys.SystemInfoActivity" />
        <activity android:name=".activitys.MainActivity" />
        <activity android:name=".activitys.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.MyCollectActivity" /> <!--  -->
        <!--  -->
        <!-- 极光配置 -->
        <service
            android:name=".jg.JgService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!--  -->
        <receiver
            android:name=".jg.JgReceived"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <!-- 包名 -->
                <category android:name="com.ldc.wandroid" />
            </intent-filter>
        </receiver>
    </application>

</manifest>